@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.5px;
}

:root {
    --accent-color: #7f5539;
}

table {
    text-align: left;
}

.book-status-btn {
    appearance: none;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: white;
}

.add-book-btn {
    appearance: none;
    border: 2px solid var(--accent-color);
    border-radius: 8px;
    background-color: var(--accent-color);
    color: whitesmoke;
    height: 30px;
    font-size: 20px;
    padding: 5px;
    height: auto;
    width: fit-content;
}

#dialog-box {
    border: 2px solid lightgray;
    border-radius: 10px;
    font-size: 20px;
    width: max-content;
    padding: 25px 30px 30px;

}

.book-dialog-header {
    display: inline-block;
    margin: 0 0 15px;
    width: 100%;
    text-align: center;
    color: var(--accent-color);
}

/* select the container div of the checkbox */
div:last-of-type {
    display: flex;
    justify-content: center;
    column-gap: 12px;
    margin-bottom: 15px;
}

.book-dialog-label {
    display: block;
    margin-bottom: 5px;
}

.book-dialog-label[for='book-status'] {
    display: inline-block;
    width: fit-content;
}

.book-dialog-input {
    display: inline-block;
    border-radius: 5px;
    border: 1.5px solid lightgray;
    height: 35px;
    padding: 0 10px;
    margin-bottom: 15px;
}

.book-dialog-input:focus {
    outline: 2px solid var(--accent-color);
}

/* the submit button of the dialog box */
button[type='submit'] {
    width: 100%;
    height: 35px;
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    color: white;
}