@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    padding: clamp(15px, 5%, 200px);
    min-width: 600px;
}

:root {
    --accent-color: #7f5539;
}

#content {
    display: grid;
    justify-items: start;
}

#webpage-logo {
    font-size: 38px;
}

button:hover {
    cursor: pointer;
}

#add-book-button {
    display: flex;
    align-items: center;
    appearance: none;
    background-color: white;
    font-size: 16px;
    margin: 10px;
    padding: 10px 20px;
    border: 0px;
    /* override #content justify-items value */
    justify-self: end;
}

#add-book-button:hover:focus {
    outline: 0px;
}

table {
    text-align: left;
    width: 100%;
    word-wrap: break-word;
}

tr {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid rgb(206, 206, 206);
}

th {
    font-size: 20px;
}

td {
    padding-right: 40px;
}

.td-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5px;
}

.remove-book-button {
    height: 19px;
    appearance: none;
    background-color: white;
    border: 0px;
    font-size: 12px;
    color: red
}

.remove-book-button:hover {
    text-decoration: 1px underline;
}

.book-status-button {
    padding: 12px 20px 10px;
    height: auto;
    appearance: none;
    border: 0px;
    border-radius: 3px;
}

.want-to-read-status {
    background-color: #2e51a2;
    color: white;
}

.read-status {
    background-color: #efefef;
    color: black;
}

#book-form-dialog-box {
    border: 2px solid lightgray;
    border-radius: 10px;
    font-size: 20px;
    width: max-content;
    padding: 25px 30px 30px;
}

#book-dialog-header {
    display: inline-block;
    margin: 0 0 15px;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 30px;
}

#checkbox-wrapper {
    display: flex;
    justify-content: center;
    column-gap: 12px;
    margin-bottom: 15px;
}

.book-dialog-label {
    display: block;
    margin-bottom: 5px;
}

.book-dialog-label[for='book-status'] {
    display: inline-block;
    width: fit-content;
}

.book-dialog-input {
    display: inline-block;
    border-radius: 5px;
    border: 1.5px solid lightgray;
    height: 35px;
    padding: 0 10px;
    margin-bottom: 15px;
}

.book-dialog-input:focus {
    outline: 2px solid black;
}

#submit-book-button {
    width: 100%;
    height: 35px;
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
}

#error-message {
    font-size: 16px;
    color: red;
}